In [364]:
import pandas as pd
import numpy as np

In [365]:

url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"
df = pd.read_excel(url)

In [366]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [367]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7049 non-null   object
 1   Year            7047 non-null   float64
 2   Type            7031 non-null   object
 3   Country         6999 non-null   object
 4   State           6563 non-null   object
 5   Location        6482 non-null   object
 6   Activity        6464 non-null   object
 7   Name            6830 non-null   object
 8   Sex             6470 non-null   object
 9   Age             4055 non-null   object
 10  Injury          7014 non-null   object
 11  Fatal Y/N       6488 non-null   object
 12  Time            3523 non-null   object
 13  Species         3918 non-null   object
 14  Source          7029 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [368]:
df.shape

(7049, 23)

In [369]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [370]:
columnas_eliminadas = ['State', 'Location', 'Name', 'Injury', 'Time', 'Year','Source','pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23', 'Case Number', 'Unnamed: 21']

for col in columnas_eliminadas:
    if col in df.columns:
        df.drop(col, axis=1, inplace=True)

print("Columnas eliminadas.")

Columnas eliminadas.

In [371]:
df = df.drop_duplicates()
print("Duplicados eliminados. Filas restantes:", df.shape[0])

Duplicados eliminados. Filas restantes: 7021

In [372]:
df = df.dropna(how="all")
print("Filas completamente vacÃ­as eliminadas.")

Filas completamente vacÃ­as eliminadas.

In [373]:
df.head()

,Date,Type,Country,Activity,Sex,Age,Fatal Y/N,Species
0,11th October,Unprovoked,Australia,Fishing/swimming,M,14,N,Tiger or Bull shark
1,7th October,Unprovoked,Australia,Surfing,M,50+,N,Bronze whaler?
2,29th September,Unprovoked,USA,Swimming,M,54,N,unknown 1.2m shark
3,27th September,Provoked,Costa Rica,Diving-Tagging sharks,M,48,N,Tiger shark 4m
4,6th September,Unprovoked,Australia,Surfing,M,57,Y,Great White Shark

In [374]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('.', '_')

In [375]:
if 'date' in df.columns:
        df['date'] = pd.to_datetime(df['date'], errors='coerce')

/var/folders/jv/lpcmj8m91yggsl2fvg3tnx2w0000gn/T/ipykernel_15542/1668207057.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [376]:
df['date'].head()

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: date, dtype: datetime64[ns]

In [377]:
print(df['date'].isnull().sum())

895

In [378]:
median_date = df['date'].median()
df['date'] = df['date'].fillna(median_date)

In [379]:
print(df['date'].isnull().sum())

0

In [380]:
df['date'] = df['date'].dt.date

In [381]:
print(df['date'].head())

0    1992-08-17
1    1992-08-17
2    1992-08-17
3    1992-08-17
4    1992-08-17
Name: date, dtype: object

Hasta aquÃ­ el formato fechas acabado.

In [382]:
df['type'] = df['type'].astype(str).str.strip().str.lower()

In [383]:
df['type'].value_counts(dropna=False)

type
unprovoked             5181
provoked                638
invalid                 552
watercraft              354
sea disaster            241
questionable             26
nan                      18
boat                      7
?                         1
unconfirmed               1
unverified                1
under investigation       1
Name: count, dtype: int64

In [384]:
mapeo_type = {
    'unprovoked': 'unprovoked',
    'provoked': 'provoked',
    'boat': 'non-attack',
    'sea disaster': 'non-attack',
    'post-mortem bite': 'non-attack',
    'invalid': 'invalid',
    'questionable': 'questionable',
    'probable': 'questionable',
    'unconfirmed': 'questionable',
    'unconfirmed incident': 'questionable',
    'unconfirmed attack': 'questionable',
    'under investigation': 'questionable',
    'unknown': 'unknown',
    'nan': 'unknown',
    'none': 'unknown',
    'other': 'unknown'
}

In [385]:
df['type'] = df['type'].map(mapeo_type).fillna('unknown')
df['type'] = df['type'].astype('category')

In [386]:
df['type'].value_counts(dropna=False)

type
unprovoked      5181
provoked         638
invalid          552
unknown          374
non-attack       248
questionable      28
Name: count, dtype: int64

In [387]:
print(df['type'].isnull().sum())

0

Hasta aquÃ­ formato type acabado.

tengo que hacer valores unicos y hacerlo de mayor a menor.

In [388]:
top_60 = df['country'].value_counts().head(60).index.tolist()

In [389]:
df['country'] = df['country'].apply(lambda x: x if x in top_60 else 'other')

In [390]:
df['country'] = df['country'].astype(str).str.lower().str.strip()
df['country'] = df['country'].astype('category')

In [391]:
print(df['country'].value_counts(dropna=False))

country
usa                     2564
australia               1506
south africa             596
other                    481
new zealand              143
bahamas                  136
papua new guinea         135
brazil                   121
mexico                   103
italy                     72
fiji                      67
new caledonia             65
philippines               63
reunion                   60
cuba                      48
egypt                     48
mozambique                46
spain                     46
india                     40
french polynesia          37
japan                     36
croatia                   35
panama                    32
jamaica                   30
solomon islands           30
iran                      26
england                   25
greece                    24
hong kong                 24
indonesia                 24
costa rica                18
pacific ocean             17
atlantic ocean            17
bermuda                   16
vietnam                   15
tonga                     15
canada                    14
vanuatu                   14
sri lanka                 14
marshall islands          13
france                    13
turkey                    12
thailand                  12
south atlantic ocean      12
iraq                      12
senegal                   11
ecuador                   11
venezuela                 11
columbia                  10
mauritius                 10
samoa                     10
united kingdom            10
kenya                     10
new guinea                10
china                      9
seychelles                 9
taiwan                     9
south korea                8
tanzania                   8
madagascar                 8
Name: count, dtype: int64

In [392]:
top_10 = df.loc[df['country'] != 'other', 'country'].value_counts().head(10).index.tolist()

In [393]:
df['country'] = df['country'].apply(lambda x: 'unknown' if x == 'other'
                                    else x if x in top_10
                                    else 'rest of the world')

In [394]:
df['country'] = df['country'].astype('category')

In [395]:
df['country'] = df['country'].astype('category')

In [396]:
print(df['country'].value_counts(dropna=False))

country
usa                  2564
australia            1506
rest of the world    1097
south africa          596
unknown               481
new zealand           143
bahamas               136
papua new guinea      135
brazil                121
mexico                103
italy                  72
fiji                   67
Name: count, dtype: int64

In [397]:
print(df['country'].isnull().sum())

0

Hasta aquÃ­ tenemos ya country.

In [398]:
df['sex'] = df['sex'].astype(str).str.upper().str.strip()

In [399]:
df['sex'].value_counts(dropna=False)

sex
M        5634
F         804
NAN       578
N           2
LLI         1
M X 2       1
.           1
Name: count, dtype: int64

In [400]:
def clean_sex(x):
    if x == 'M':
        return 'Male'
    elif x == 'F':
        return 'Female'
    else:
        return 'Unknown'

df['sex'] = df['sex'].apply(clean_sex)

In [401]:
df['sex'] = df['sex'].astype('category')

In [402]:
print(df['sex'].value_counts())

sex
Male       5634
Female      804
Unknown     583
Name: count, dtype: int64

Hasta aquÃ­ sex.

In [403]:
df['activity'] = df['activity'].str.lower().str.strip()

In [404]:

df['activity_group'] = pd.NA


df.loc[df['activity'].str.contains('surf|paddle|board|wake', na=False), 'activity_group'] = 'surfing'
df.loc[df['activity'].str.contains('swim|bathing|snorkeling', na=False), 'activity_group'] = 'swimming'
df.loc[df['activity'].str.contains('fish|hook|net|trawling|spear', na=False), 'activity_group'] = 'fishing'
df.loc[df['activity'].str.contains('wade|standing|splashing', na=False), 'activity_group'] = 'wading'
df.loc[df['activity'].str.contains('diving|dive', na=False), 'activity_group'] = 'diving'
df.loc[df['activity'].str.contains('boat|kayak|canoe|vessel|pirogue|capsized', na=False), 'activity_group'] = 'boating'
df.loc[df['activity'].str.contains('floating|treading|drowning', na=False), 'activity_group'] = 'floating'
df.loc[df['activity'].str.contains('walking|playing|clamming|dangling', na=False), 'activity_group'] = 'shore'
df.loc[df['activity'].str.contains('disaster|shipwreck|fell|jumped|run down|sailing|rowing', na=False), 'activity_group'] = 'adventure challenges'
df.loc[df['activity'].str.contains('feeding', na=False), 'activity_group'] = 'feeding'


df['activity_group'] = df['activity_group'].fillna('Other')

In [405]:
df['activity_group'].value_counts()

activity_group
surfing                 1559
swimming                1509
fishing                 1204
Other                   1198
diving                   635
boating                  294
adventure challenges     235
wading                   179
floating                 111
shore                     71
feeding                   26
Name: count, dtype: int64

In [406]:
df_other = df.loc[df['activity_group'] == 'other']
print(df_other['activity'].value_counts().head(20))

Series([], Name: count, dtype: int64)

In [407]:
df['fatal_y/n'].value_counts()

fatal_y/n
N          4894
Y          1475
UNKNOWN      70
 N            7
F             5
M             3
n             1
Nq            1
2017          1
Y x 2         1
N             1
y             1
Name: count, dtype: int64

In [408]:
mapeo_fatal = {
    
    'N': 'N',
    'n': 'N',
    'Nq': 'N',  
    'F': 'N',   
    'M': 'N',   
    '2017': 'N',     
    'Y': 'Y',
    'y': 'Y',   
    'UNKNOWN': 'UNKNOWN'
}


df['fatal_y/n'] = df['fatal_y/n'].replace(mapeo_fatal)


df['fatal_y/n'] = df['fatal_y/n'].fillna('UNKNOWN')


valores_validos = ['Y', 'N', 'UNKNOWN']
df.loc[~df['fatal_y/n'].isin(valores_validos), 'fatal_y/n'] = 'UNKNOWN'



df['fatal_y/n'] = df['fatal_y/n'].astype('category')

In [409]:
df['fatal_y/n'].value_counts()

fatal_y/n
N          4904
Y          1476
UNKNOWN     641
Name: count, dtype: int64

In [410]:
df.head(30)

,date,type,country,activity,sex,age,fatal_y/n,species,activity_group
0,1992-08-17,unprovoked,australia,fishing/swimming,Male,14,N,Tiger or Bull shark,fishing
1,1992-08-17,unprovoked,australia,surfing,Male,50+,N,Bronze whaler?,surfing
2,1992-08-17,unprovoked,usa,swimming,Male,54,N,unknown 1.2m shark,swimming
3,1992-08-17,provoked,unknown,diving-tagging sharks,Male,48,N,Tiger shark 4m,diving
4,1992-08-17,unprovoked,australia,surfing,Male,57,Y,Great White Shark,surfing
5,1992-08-17,unprovoked,usa,snorkeling,Male,8,N,Not stated,swimming
6,1992-08-17,unprovoked,usa,swimming,Female,8,N,Not stated,swimming
7,1992-08-17,unprovoked,australia,surfing,Male,?,N,5m (16.5ft) Great White,surfing
8,1992-08-17,unprovoked,unknown,spearfishing,Male,63,N,Undetermined,fishing
9,1992-08-17,provoked,usa,fishing,Male,?,N,Lemon shark 1.8 m (6ft),fishing
10,1992-08-17,unprovoked,australia,surfing,Male,9,N,Suspected Great White,surfing
11,1992-08-17,unprovoked,unknown,wading,Female,39,N,Undetermined,Other
12,1992-08-17,unprovoked,australia,kayaking,Male,19,N,Great White Shark est 3m (10ft),boating
13,1992-08-17,unprovoked,unknown,swimming,Male,7,N,Undetermined,swimming
14,1992-08-17,unprovoked,unknown,swimming,Female,85,N,Undetermined,swimming
15,1992-08-17,unprovoked,unknown,surfing (hydrofoiling),Male,?,N,Undetermined,surfing
16,1992-08-17,unprovoked,usa,diving,Male,69,N,Lemon shark,diving
17,1992-08-17,unprovoked,usa,surfing,Male,18,N,Undetermined,surfing
18,1992-08-17,unprovoked,unknown,spearfishing,Male,66,N,5ft (1.5m) Bull shark,fishing
19,1992-08-17,provoked,usa,fishing,Male,21,N,Unknown,fishing
20,1992-08-17,unprovoked,usa,surfing,Male,40,N,Undetermined small shall shark,surfing
21,1992-08-17,unprovoked,unknown,fishing,Male,37,Y,Undetermined,fishing
22,1992-08-17,unprovoked,australia,swimming,Male,16,N,2m Bull shark?,swimming
23,1992-08-17,unprovoked,usa,swimming,Female,20,N,Sand Tiger shark,swimming
24,1992-08-17,unprovoked,usa,swimming,Female,?,N,Small shark,swimming
25,1992-08-17,unprovoked,usa,swimming,Female,12,N,Not stated,swimming
26,2025-06-11,unprovoked,usa,snorkeling,Female,9,N,Bull shark,swimming
27,1992-08-17,unprovoked,usa,surfing,Male,42,N,Great White,surfing
28,2025-05-29,unprovoked,usa,swimming,Male,26,N,Not stated,swimming
29,2025-05-26,unprovoked,unknown,swimming,Male,14,Y,Not stated,swimming

In [411]:
df["sex"].value_counts()

sex
Male       5634
Female      804
Unknown     583
Name: count, dtype: int64

In [412]:
df["species"].value_counts()

species
White shark                                                                                                                                                                                194
Shark involvement prior to death was not confirmed                                                                                                                                         105
Invalid                                                                                                                                                                                    102
Shark involvement not confirmed                                                                                                                                                             92
Tiger shark                                                                                                                                                                                 89
                                                                                                                                                                                          ...
Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident      1
Unknown, but it was reported that a shark tooth was recovered from the wound                                                                                                                 1
On 8/13/2005 anglers from New Zealand caught a 2.8 m [9'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha                              1
1.8 m [6'] bull shark                                                                                                                                                                        1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable                                                                1
Name: count, Length: 1728, dtype: int64

In [423]:
df["species"].nunique()

675

In [424]:


df["species"] = (
    df["species"]
    .astype(str) 
    .str.lower()
    .str.strip()
    .str.replace(r'[^a-z\s]', '', regex=True)
)


replace_dict = {
    "white shark": "great white shark",
    "great white": "great white shark",
    "carcharodon carcharias": "great white shark",
    "tiger": "tiger shark",
    "galeocerdo cuvier": "tiger shark",
    "bull shark": "bull shark",
    "carcharhinus leucas": "bull shark",
    "hammerhead": "hammerhead shark",
    "blacktip": "blacktip shark",
    "grey nurse": "grey nurse shark",
}
for k, v in replace_dict.items():
    df["species"] = df["species"].str.replace(k, v, regex=False)


df["species"] = df["species"].replace({
    "unidentified shark": "unknown",
    "no shark involvement": "unknown",
    "shark involvement not confirmed": "unknown",
})
df["species"] = df["species"].apply(
    lambda x: "unknown" if isinstance(x, str) and ("possible" in x or "unknown" in x) else x
)
df["species"] = df["species"].fillna("unknown")


def map_species_group(x):
    if not isinstance(x, str):
        return "unknown"
    x = x.lower()
    if "white" in x:
        return "great white shark"
    elif "tiger" in x:
        return "tiger shark"
    elif "bull" in x:
        return "bull shark"
    elif "hammerhead" in x:
        return "hammerhead shark"
    elif "blacktip" in x:
        return "blacktip shark"
    elif "nurse" in x:
        return "grey nurse shark"
    elif "mako" in x:
        return "mako shark"
    elif "blue" in x:
        return "blue shark"
    elif "lemon" in x:
        return "lemon shark"
    elif "reef" in x:
        return "reef shark"
    elif "sand" in x:
        return "sand tiger shark"
    elif "dogfish" in x:
        return "dogfish"
    elif "galapagos" in x:
        return "galapagos shark"
    elif "sevengill" in x:
        return "sevengill shark"
    elif "port jackson" in x:
        return "port jackson shark"
    elif "unknown" in x or "possible" in x:
        return "unknown"
    else:
        return "other shark"

df["species_group"] = df["species"].apply(map_species_group)


print("NÃºmero de especies originales Ãºnicas:", df["species"].nunique())
print("NÃºmero de grupos principales:", df["species"].nunique())
print(df["species_group"].value_counts().head(20))

NÃºmero de especies originales Ãºnicas: 620
NÃºmero de grupos principales: 620
species_group
other shark           2537
great white shark      495
tiger shark            233
bull shark             178
blacktip shark         108
grey nurse shark        81
unknown                 73
reef shark              45
mako shark              30
blue shark              28
lemon shark             27
hammerhead shark        27
sand tiger shark        21
sevengill shark         12
galapagos shark          7
dogfish                  4
port jackson shark       1
Name: count, dtype: int64

In [443]:
df.head()

,date,type,country,activity,sex,age,fatal_y/n,activity_group,species_group
0,1992-08-17,unprovoked,australia,fishing/swimming,Male,14,N,fishing,tiger shark
2,1992-08-17,unprovoked,usa,swimming,Male,54,N,swimming,unknown
3,1992-08-17,provoked,unknown,diving-tagging sharks,Male,48,N,diving,tiger shark
4,1992-08-17,unprovoked,australia,surfing,Male,57,Y,surfing,great white shark
5,1992-08-17,unprovoked,usa,snorkeling,Male,8,N,swimming,other shark

In [428]:
if "species" in df.columns:
    df.drop(columns=["species"], inplace=True)

In [432]:
df["age"] = pd.to_numeric(df["age"], errors="coerce")

In [433]:
df = df.dropna(subset=["age"])

In [434]:
df["age"].nunique()

82

In [435]:
df["age"]= df["age"].astype(int)

In [436]:
df["age"].value_counts()

age
17    174
18    159
15    157
20    156
19    152
     ...
85      1
86      1
84      1
87      1
81      1
Name: count, Length: 82, dtype: int64