In [53]:
import pandas as pd
import numpy as np

In [54]:

url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"
df = pd.read_excel(url)

In [55]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7049 non-null   object
 1   Year            7047 non-null   float64
 2   Type            7031 non-null   object
 3   Country         6999 non-null   object
 4   State           6563 non-null   object
 5   Location        6482 non-null   object
 6   Activity        6464 non-null   object
 7   Name            6830 non-null   object
 8   Sex             6470 non-null   object
 9   Age             4055 non-null   object
 10  Injury          7014 non-null   object
 11  Fatal Y/N       6488 non-null   object
 12  Time            3523 non-null   object
 13  Species         3918 non-null   object
 14  Source          7029 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [57]:
df.shape

(7049, 23)

In [58]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [59]:
columnas_eliminadas = ['State', 'Location', 'Name', 'Injury', 'Time', 'Year','Source','pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23', 'Case Number', 'Unnamed: 21']

for col in columnas_eliminadas:
    if col in df.columns:
        df.drop(col, axis=1, inplace=True)

print("Columnas eliminadas.")

Columnas eliminadas.

In [60]:
df = df.drop_duplicates()
print("Duplicados eliminados. Filas restantes:", df.shape[0])

Duplicados eliminados. Filas restantes: 7021

In [61]:
df = df.dropna(how="all")
print("Filas completamente vacÃ­as eliminadas.")

Filas completamente vacÃ­as eliminadas.

In [62]:
df.head()

,Date,Type,Country,Activity,Sex,Age,Fatal Y/N,Species
0,11th October,Unprovoked,Australia,Fishing/swimming,M,14,N,Tiger or Bull shark
1,7th October,Unprovoked,Australia,Surfing,M,50+,N,Bronze whaler?
2,29th September,Unprovoked,USA,Swimming,M,54,N,unknown 1.2m shark
3,27th September,Provoked,Costa Rica,Diving-Tagging sharks,M,48,N,Tiger shark 4m
4,6th September,Unprovoked,Australia,Surfing,M,57,Y,Great White Shark

In [63]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('.', '_')

In [64]:
if 'date' in df.columns:
        df['date'] = pd.to_datetime(df['date'], errors='coerce')

/var/folders/jv/lpcmj8m91yggsl2fvg3tnx2w0000gn/T/ipykernel_12715/1668207057.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [65]:
df['date'].head()

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: date, dtype: datetime64[ns]

In [66]:
print(df['date'].isnull().sum())

895

In [67]:
median_date = df['date'].median()
df['date'] = df['date'].fillna(median_date)

In [68]:
print(df['date'].isnull().sum())

0

In [69]:
df['date'] = df['date'].dt.date

In [70]:
print(df['date'].head())

0    1992-08-17
1    1992-08-17
2    1992-08-17
3    1992-08-17
4    1992-08-17
Name: date, dtype: object

Hasta aquÃ­ el formato fechas acabado.

In [71]:
df['type'] = df['type'].astype(str).str.strip().str.lower()

In [72]:
df['type'].value_counts(dropna=False)

type
unprovoked             5181
provoked                638
invalid                 552
watercraft              354
sea disaster            241
questionable             26
nan                      18
boat                      7
?                         1
unconfirmed               1
unverified                1
under investigation       1
Name: count, dtype: int64

In [73]:
mapeo_type = {
    'unprovoked': 'unprovoked',
    'provoked': 'provoked',
    'boat': 'non-attack',
    'sea disaster': 'non-attack',
    'post-mortem bite': 'non-attack',
    'invalid': 'invalid',
    'questionable': 'questionable',
    'probable': 'questionable',
    'unconfirmed': 'questionable',
    'unconfirmed incident': 'questionable',
    'unconfirmed attack': 'questionable',
    'under investigation': 'questionable',
    'unknown': 'unknown',
    'nan': 'unknown',
    'none': 'unknown',
    'other': 'unknown'
}

In [74]:
df['type'] = df['type'].map(mapeo_type).fillna('unknown')
df['type'] = df['type'].astype('category')

In [75]:
df['type'].value_counts(dropna=False)

type
unprovoked      5181
provoked         638
invalid          552
unknown          374
non-attack       248
questionable      28
Name: count, dtype: int64

In [76]:
print(df['type'].isnull().sum())

0

Hasta aquÃ­ formato type acabado.

tengo que hacer valores unicos y hacerlo de mayor a menor.

In [77]:
top_60 = df['country'].value_counts().head(60).index.tolist()

In [78]:
df['country'] = df['country'].apply(lambda x: x if x in top_60 else 'other')

In [79]:
df['country'] = df['country'].astype(str).str.lower().str.strip()
df['country'] = df['country'].astype('category')

In [80]:
print(df['country'].value_counts(dropna=False))

country
usa                     2564
australia               1506
south africa             596
other                    481
new zealand              143
bahamas                  136
papua new guinea         135
brazil                   121
mexico                   103
italy                     72
fiji                      67
new caledonia             65
philippines               63
reunion                   60
cuba                      48
egypt                     48
mozambique                46
spain                     46
india                     40
french polynesia          37
japan                     36
croatia                   35
panama                    32
jamaica                   30
solomon islands           30
iran                      26
england                   25
greece                    24
hong kong                 24
indonesia                 24
costa rica                18
pacific ocean             17
atlantic ocean            17
bermuda                   16
vietnam                   15
tonga                     15
canada                    14
vanuatu                   14
sri lanka                 14
marshall islands          13
france                    13
turkey                    12
thailand                  12
south atlantic ocean      12
iraq                      12
senegal                   11
ecuador                   11
venezuela                 11
columbia                  10
mauritius                 10
samoa                     10
united kingdom            10
kenya                     10
new guinea                10
china                      9
seychelles                 9
taiwan                     9
south korea                8
tanzania                   8
madagascar                 8
Name: count, dtype: int64

In [81]:
top_10 = df.loc[df['country'] != 'other', 'country'].value_counts().head(10).index.tolist()

In [82]:
df['country'] = df['country'].apply(lambda x: 'unknown' if x == 'other'
                                    else x if x in top_10
                                    else 'rest of the world')

In [83]:
df['country'] = df['country'].astype('category')

In [84]:
df['country'] = df['country'].astype('category')

In [85]:
print(df['country'].value_counts(dropna=False))

country
usa                  2564
australia            1506
rest of the world    1097
south africa          596
unknown               481
new zealand           143
bahamas               136
papua new guinea      135
brazil                121
mexico                103
italy                  72
fiji                   67
Name: count, dtype: int64

In [86]:
print(df['country'].isnull().sum())

0

Hasta aquÃ­ tenemos ya country.

In [87]:
df['sex'] = df['sex'].astype(str).str.upper().str.strip()

In [88]:
df['sex'].value_counts(dropna=False)

sex
M        5634
F         804
NAN       578
N           2
LLI         1
M X 2       1
.           1
Name: count, dtype: int64

In [89]:
def clean_sex(x):
    if x == 'M':
        return 'Male'
    elif x == 'F':
        return 'Female'
    else:
        return 'Unknown'

df['sex'] = df['sex'].apply(clean_sex)

In [90]:
df['sex'] = df['sex'].astype('category')

In [91]:
print(df['sex'].value_counts())

sex
Male       5634
Female      804
Unknown     583
Name: count, dtype: int64

Hasta aquÃ­ sex.

In [92]:
df['activity'] = df['activity'].str.lower().str.strip()

In [93]:
# Crea la columna de grupo, inicialmente vacÃ­a (NaN)
df['activity_group'] = pd.NA

# 1. AgrupaciÃ³n por palabras clave (usa regex=True por defecto con .str.contains)
df.loc[df['activity'].str.contains('surf|paddle|board|wake', na=False), 'activity_group'] = 'surfing'
df.loc[df['activity'].str.contains('swim|bathing|snorkeling', na=False), 'activity_group'] = 'swimming'
df.loc[df['activity'].str.contains('fish|hook|net|trawling|spear', na=False), 'activity_group'] = 'fishing'
df.loc[df['activity'].str.contains('wade|standing|splashing', na=False), 'activity_group'] = 'wading'
df.loc[df['activity'].str.contains('diving|dive', na=False), 'activity_group'] = 'diving'
df.loc[df['activity'].str.contains('boat|kayak|canoe|vessel|pirogue|capsized', na=False), 'activity_group'] = 'boating/vessel'
df.loc[df['activity'].str.contains('floating|treading|drowning', na=False), 'activity_group'] = 'floating/treading'
df.loc[df['activity'].str.contains('walking|playing|clamming|dangling', na=False), 'activity_group'] = 'shore/shallow water'
df.loc[df['activity'].str.contains('disaster|shipwreck|fell|jumped|run down|sailing|rowing', na=False), 'activity_group'] = 'disaster/accident'
df.loc[df['activity'].str.contains('feeding', na=False), 'activity_group'] = 'feeding/provoked'

# 2. Manejo de Otros/Residuales
# Asigna 'Other' (Otro) a todas las filas que aÃºn no han sido clasificadas.
df['activity_group'] = df['activity_group'].fillna('Other')

In [94]:
df['activity_group'].value_counts()

activity_group
surfing                1559
swimming               1509
fishing                1204
Other                  1198
diving                  635
boating/vessel          294
disaster/accident       235
wading                  179
floating/treading       111
shore/shallow water      71
feeding/provoked         26
Name: count, dtype: int64

In [95]:
df_other = df.loc[df['activity_group'] == 'other']
print(df_other['activity'].value_counts().head(20))

Series([], Name: count, dtype: int64)

In [96]:
df['fatal_y/n'].value_counts()

fatal_y/n
N          4894
Y          1475
UNKNOWN      70
 N            7
F             5
M             3
n             1
Nq            1
2017          1
Y x 2         1
N             1
y             1
Name: count, dtype: int64

In [97]:
mapeo_fatal = {
    
    'N': 'N',
    'n': 'N',
    'Nq': 'N',  
    'F': 'N',   
    'M': 'N',   
    '2017': 'N',     
    'Y': 'Y',
    'y': 'Y',   
    'UNKNOWN': 'UNKNOWN'
}


df['fatal_y/n'] = df['fatal_y/n'].replace(mapeo_fatal)


df['fatal_y/n'] = df['fatal_y/n'].fillna('UNKNOWN')


valores_validos = ['Y', 'N', 'UNKNOWN']
df.loc[~df['fatal_y/n'].isin(valores_validos), 'fatal_y/n'] = 'UNKNOWN'



df['fatal_y/n'] = df['fatal_y/n'].astype('category')

In [98]:
df['fatal_y/n'].value_counts()

fatal_y/n
N          4904
Y          1476
UNKNOWN     641
Name: count, dtype: int64

In [99]:
df.head(30)

,date,type,country,activity,sex,age,fatal_y/n,species,activity_group
0,1992-08-17,unprovoked,australia,fishing/swimming,Male,14,N,Tiger or Bull shark,fishing
1,1992-08-17,unprovoked,australia,surfing,Male,50+,N,Bronze whaler?,surfing
2,1992-08-17,unprovoked,usa,swimming,Male,54,N,unknown 1.2m shark,swimming
3,1992-08-17,provoked,unknown,diving-tagging sharks,Male,48,N,Tiger shark 4m,diving
4,1992-08-17,unprovoked,australia,surfing,Male,57,Y,Great White Shark,surfing
5,1992-08-17,unprovoked,usa,snorkeling,Male,8,N,Not stated,swimming
6,1992-08-17,unprovoked,usa,swimming,Female,8,N,Not stated,swimming
7,1992-08-17,unprovoked,australia,surfing,Male,?,N,5m (16.5ft) Great White,surfing
8,1992-08-17,unprovoked,unknown,spearfishing,Male,63,N,Undetermined,fishing
9,1992-08-17,provoked,usa,fishing,Male,?,N,Lemon shark 1.8 m (6ft),fishing
10,1992-08-17,unprovoked,australia,surfing,Male,9,N,Suspected Great White,surfing
11,1992-08-17,unprovoked,unknown,wading,Female,39,N,Undetermined,Other
12,1992-08-17,unprovoked,australia,kayaking,Male,19,N,Great White Shark est 3m (10ft),boating/vessel
13,1992-08-17,unprovoked,unknown,swimming,Male,7,N,Undetermined,swimming
14,1992-08-17,unprovoked,unknown,swimming,Female,85,N,Undetermined,swimming
15,1992-08-17,unprovoked,unknown,surfing (hydrofoiling),Male,?,N,Undetermined,surfing
16,1992-08-17,unprovoked,usa,diving,Male,69,N,Lemon shark,diving
17,1992-08-17,unprovoked,usa,surfing,Male,18,N,Undetermined,surfing
18,1992-08-17,unprovoked,unknown,spearfishing,Male,66,N,5ft (1.5m) Bull shark,fishing
19,1992-08-17,provoked,usa,fishing,Male,21,N,Unknown,fishing
20,1992-08-17,unprovoked,usa,surfing,Male,40,N,Undetermined small shall shark,surfing
21,1992-08-17,unprovoked,unknown,fishing,Male,37,Y,Undetermined,fishing
22,1992-08-17,unprovoked,australia,swimming,Male,16,N,2m Bull shark?,swimming
23,1992-08-17,unprovoked,usa,swimming,Female,20,N,Sand Tiger shark,swimming
24,1992-08-17,unprovoked,usa,swimming,Female,?,N,Small shark,swimming
25,1992-08-17,unprovoked,usa,swimming,Female,12,N,Not stated,swimming
26,2025-06-11,unprovoked,usa,snorkeling,Female,9,N,Bull shark,swimming
27,1992-08-17,unprovoked,usa,surfing,Male,42,N,Great White,surfing
28,2025-05-29,unprovoked,usa,swimming,Male,26,N,Not stated,swimming
29,2025-05-26,unprovoked,unknown,swimming,Male,14,Y,Not stated,swimming